<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/database?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>

        <mapping resource="com/orders/model/Order.hbm.xml"/>
        <mapping resource="com/orders/model/ProductDescription.hbm.xml"/>
        <mapping resource="com/orders/model/OrderDetails.hbm.xml"/>

    </session-factory>

</hibernate-configuration>